.carousel .carousel-indicators button {
	background-color: grey !important;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}
.carousel .carousel-indicators button.active {
	background-color: black !important;
	width: 25px;
	border-radius: 40%;
}