
.otpitem{
	padding: 15px;
	background-color: #ededed !important;
	border-radius: 10px;
	width: 60px;
	height: 60px;
	margin: 4px;
}
.otpitem input{
	text-align: center;
	background-color: #ededed !important;
	padding: 4px 0px;
	width: 100%;
	border: none;
	border-bottom: 1px solid black;
	outline:none;
}